<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".generated.cs" #>
using System;
using System.Linq;

using CodeJam.Collections;

using NUnit.Framework;

namespace CodeJam
{
	[TestFixture]
	partial class AggregateFuncsTest
	{
<#
	foreach (var info in new[]
	{
		new { Method = "MinItem", Result = "0" },
		new { Method = "MaxItem", Result = "6" },
	})
	{
#>
		#region <#= info.Method #>

<#
		foreach (var type in new[] { "Int32", "Int64", "Single", "Double", "Decimal", "Int16", "SByte", "UInt32", "UInt64", "UInt16", "Byte" })
		{
#>
		#region <#= type #>

		[TestCase(new[] {3, 1, 0, 4, 6}, TestName = "<#= info.Method #> <#= type #> Array",  ExpectedResult = <#= info.Result #>)]
		[TestCase(new[] {1},             TestName = "<#= info.Method #> <#= type #> Single", ExpectedResult = 1)]
		public <#= type #>  <#= info.Method #><#= type #>(int[] source)
			=> source.Select(v => new Item<<#= type #>>((<#= type #>)v)). <#= info.Method #>(i => i.Value).Value;

		[TestCase(new[] {3, 1, 0, 4, 6}, TestName = "<#= info.Method #> <#= type #> Nullable Array",  ExpectedResult = <#= info.Result #>)]
		[TestCase(new[] {1},             TestName = "<#= info.Method #> <#= type #> Nullable Single", ExpectedResult = 1)]
		[TestCase(new int[0],            TestName = "<#= info.Method #> <#= type #> Nullable Empty",  ExpectedResult = null)]
		public <#= type #>?  <#= info.Method #><#= type #>Nullable(int[] source)
			=> source.Select(v => new Item<<#= type #>?>((<#= type #>)v)). <#= info.Method #>(i => i.Value)?.Value;

		#endregion

<#
		}
#>
		#endregion

<#
	}
#>
	}
}